.input {
  display: block;
  height: 32px;
  margin-top: 4px;
  border: 1px solid #606060;
  width: 100%;
  font-size: 16px;
  padding: 0 8px;
}

.info {
  margin-top: 4px;
  font-size: 14px;
  display: block;
  color: #505050;
}
