.wrapper {
  margin-bottom: 16px;
}

.wrapperForm {
  margin-bottom: 80px;
  @media screen and (max-width: 1024px) {
    margin-bottom: 64px;
  }
}

.input {
  display: block;
  margin-top: 4px;
  height: 32px;
  margin-top: 4px;
  border: 1px solid #606060;
  width: 100%;
  font-size: 16px;
  padding: 0 8px;
  background-color: transparent;

  &.mini {
    max-width: 450px;
  }

  &.textArea {
    min-height: 80px;
    font-family: var(--body);
    padding: 4px 8px;
  }
}

.info {
  font-size: 14px;
  display: block;
  color: #505050;
}

.vignette {
  display: block;
  margin-top: 16px;
  max-width: 380px;
}

.error {
  color: red;
  font-size: 15px;
}

.styles.wrapperSubmit {
  display: flex;
  flex-direction: row;
  gap: 8px;

  @media screen and (max-width: 766px) {
    flex-direction: column;
  }
}

// on personnalise le label comme on veut
.labelFile {
  padding: 8px 16px;
  margin-top: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border: 1px solid #000;
}

// et on masque le input
.inputFile {
  display: none;
}
