---
import FormArticle from '@/components/FormArticle';
import Layout from '@/components/Layout.astro';
import { getCategories } from '@/services/categorie/getCategories';
const categories = await getCategories();
---

<Layout title="Ajouter un article">
  <h1>Ajouter un article</h1>
  <FormArticle categories={categories} client:only="react" />
</Layout>
