---
import Layout from '@/components/Layout.astro';
import FormArticle from '@/features/AddEditArticle/components/FormArticle';
import TemplateAddEditArticle from '@/features/AddEditArticle/components/TemplateAddEditArticle';
import { getCategories } from '@/services/categorie/getCategories';
const categories = await getCategories();
---

<Layout title="Ajouter un article">
  <h1>Ajouter un article</h1>

  <TemplateAddEditArticle categories={categories} client:only />
</Layout>
