---
import { getSession } from 'auth-astro';
import FormArticle from '../../../components/FormArticle';
import { protectRoute } from '../../../functions/protectRoute.astro';
import Layout from '../../../layouts/Layout.astro';
import { getCategories } from '../../../services/categorie/getCategories';
import { authOpts } from '../../api/auth/[...astroAuth]';

// let session = await getSession(Astro.request, authOpts);
// protectRoute();

const categories = await getCategories();
---

<Layout title="Ajouter un article">
  <h1>Ajouter un article</h1>
  <FormArticle categories={categories} client:only="react" />
</Layout>
