---
import { getSession } from 'auth-astro';
import FormArticle from '../components/FormArticle';
import Layout from '../layouts/Layout.astro';
import { authOpts } from './api/auth/[...astroAuth]';

let session = await getSession(Astro.request, authOpts);

console.log(session);
---

<Layout title="protected">
  <p>Only logged in users can see this page.</p>
  <FormArticle client:only="react" />

  <p>
    Logged in as {session?.user?.name}
  </p>

  <p>
    <a href="/">Home</a>
  </p>
</Layout>
