---
import type { SanityCategory } from '@/interfaces/SanityCategory';
import { getSession } from 'auth-astro';
import { authOpts } from '../pages/api/auth/[...astroAuth]';
import NavbarAdmin from './NavbarAdmin.astro';
import NavbarGoogle from './NavbarGoogle.astro';

export interface Props {
  title: string;
  categoriesMenu?: SanityCategory[];
}

const { title, categoriesMenu } = Astro.props as Props;
const isAdminRoute = Astro.url.pathname.includes('/admin/');
let session = await getSession(Astro.request, authOpts);
let accessGranted = true;

if (isAdminRoute && !session) {
  accessGranted = false;
}
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="robots" content="noindex, follow" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <NavbarAdmin session={session} />
      <NavbarGoogle categoriesMenu={categoriesMenu} />
    </header>
    {accessGranted ? <slot /> : <h1>Rien à voir ici</h1>}
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
</style>
