---
import type { Session } from '@auth/core/types';
import { SignOut } from 'auth-astro/components';
import { Icon } from 'astro-icon';
import { Auth, SignIn } from 'auth-astro/components';
import { authOpts } from '@/pages/api/auth/[...astroAuth]';
interface Props {
  session: Session | null;
}
const { session } = Astro.props as Props;
const loginProvider =
  import.meta.env.MODE === 'development' ? 'github' : 'google';
---

<div class="wrapper">
  <nav class="conteneur">
    {
      session ? (
        <>
          <div class="left-part">
            <a class="menu-item" href="/admin/article">
              <Icon pack="mdi" name="note-plus-outline" />
              <span class="text">Ajouter un article</span>
            </a>
            <a class="menu-item" href="/admin/mes-articles">
              <Icon pack="mdi" name="note-check-outline" />
              <span class="text">Mes articles</span>
            </a>
          </div>
          <div class="right-part">
            <SignOut>
              <Icon pack="mdi" name="logout" />
              <span class="text">Déconnexion</span>
            </SignOut>
          </div>
        </>
      ) : (
        <SignIn provider={loginProvider}>
          <Icon pack="mdi" name="account" />
          Connexion
        </SignIn>
      )
    }
  </nav>
</div>

<style lang="scss">
  .wrapper {
    background-color: #141516;
    color: #fff;
    padding: 8px 0;

    .conteneur {
      display: flex;
      justify-content: space-between;
    }

    .left-part {
      display: flex;
      @media screen and (max-width: 766px) {
        gap: 16px;
      }
    }

    .menu-item,
    button {
      display: flex;
      align-items: end;
      gap: 4px;
      min-width: 160px;
      background: transparent;
      border: none;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      @media screen and (max-width: 766px) {
        min-width: 0px;
      }

      svg {
        width: 20px;
        @media screen and (max-width: 766px) {
          width: 24px;
        }
      }

      @media screen and (max-width: 766px) {
        .text {
          display: none;
        }
      }
    }

    a,
    button {
      color: #fff;
      text-decoration: none;
      transition: all 0.2s linear;
      &:hover {
        color: #00ffef;
      }
    }

    .right-part {
      button {
        min-width: 117px;
        margin: 0;
        padding: 0;

        @media screen and (max-width: 766px) {
          min-width: 0;
        }
      }
    }
  }
</style>
