---
import type { Session } from '@auth/core/types';
import { SignOut } from 'auth-astro/components';

interface Props {
  session: Session | null;
}

const { session } = Astro.props as Props;
---

<nav>
  <a href="/">Accueil</a>
  {
    session && (
      <>
        <a href="/admin/article">Ajouter un article</a>
        <a href="/admin/mes-articles">Mes articles</a>
        <SignOut>Logout</SignOut>
      </>
    )
  }
  {!session && <a href="/connexion">Connexion</a>}
</nav>
