:root {
  --title: Didone, Poppins, -apple-system, BlinkMacSystemFont, Arial Black,
    Arial Bold, Arial, sans-serif;
  --body: Montreal, sans-serif;
  --body-bolor: #330b4f;
  --dark-primary: #ca171d;
  --light-primary: #e10061;
  --light-background: #e1000012;
  --is-it-cold: #0024ff;
  --main-gradient: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  --background-main: rgb(248, 248, 251);
  --mw-desktop: 1440px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: var(--title);
  font-variation-settings: 'wght' 400, 'wdth' 80;
}

main {
  max-width: var(--mw-desktop);
  margin: 0 auto;
  @media screen and (max-width: 766px) {
    min-height: calc(100vh - 51px - 127px);
  }
}

footer a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--body);
  font-variation-settings: 'wght' 450;
  font-weight: 450;
  background-color: var(--background-main);
}
img {
  max-width: 100%;
  height: auto;
}
header {
  order: -1;
}
main {
  flex: 1;
  width: 100%;
}
footer {
  background-color: #000;
  color: #fff;
  padding: 16px;
}
* {
  box-sizing: border-box;
}

a {
  color: var(--body-color);
}

html {
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

input,
select,
textarea {
  border-radius: 3px;
}

header {
  box-shadow: 0 2px 17px rgb(0 0 0 / 7%);
}

.conteneur {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--mw-desktop);

  @media screen and (max-width: 1440px) {
    padding-left: 8px;
    padding-right: 8px;
    max-width: 100%;
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
