---
---

<aside class="aside">
  <p class="aside-title">Vous pourriez aussi aimer</p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis molestias doloremque
  suscipit obcaecati commodi temporibus ex et. Dolorum, repellendus? Earum eveniet
  quo tempore quas delectus saepe, quam nostrum perferendis ratione.
</aside>

<style lang="scss">
  aside {
    position: sticky;
    top: 0;
  }
  .aside-title {
    margin-top: 0;
    font-size: 44px;
  }
</style>
